---
import DesignHeader from '@/components/DesignHeader.astro';
import Layout from '../layouts/Layout.astro';
import ProjectSection from '@/components/ProjectSection.astro';
import SkillLinks from '@/components/SkillLinks.astro';
import ProjectCard from '@/components/ProjectCard.astro';

import Express from "../assets/web-design/desktop/image-express.jpg";
import Transfer from "../assets/web-design/desktop/image-transfer.jpg";
import Photon from "../assets/web-design/desktop/image-photon.jpg";
import Builder from "../assets/web-design/desktop/image-builder.jpg";
import Blogr from "../assets/web-design/desktop/image-blogr.jpg";
import Camp from "../assets/web-design/desktop/image-camp.jpg";
---

<Layout title="Web Design">
	<main class="wrapper">
		<DesignHeader title='Web Design'>
			We build websites that serve as powerful marketing tools and bring memorable brand experiences.
		</DesignHeader>
		<ProjectSection>
			<ProjectCard title="express" image={Express}>
				A multi-carrier shipping website for ecommerce businesses
			</ProjectCard>
			<ProjectCard title="transfer" image={Transfer}>
				Site for low-cost money transfers and sending money within seconds
			</ProjectCard>
			<ProjectCard title="photon" image={Photon}>
				A state-of-the-art music player with high-resolution audio and DSP effects
			</ProjectCard>
			<ProjectCard title="builder" image={Builder}>
				Connects users with local contractors based on their location
			</ProjectCard>
			<ProjectCard title="blogr" image={Blogr}>
				Blogr is a platform for creating an online blog or publication
			</ProjectCard>
			<ProjectCard title="camp" image={Camp}>
				Get expert training in coding, data, design, and digital marketing
			</ProjectCard>
		</ProjectSection>
		<SkillLinks skills={[
			"app-design",
			"graphic-design"
		]}/>
	</main>
</Layout>

